.glow {
  text-shadow: 0 0 3px #000000;
}

div>div>div>div>.nobotpad {
  padding-bottom: 0;
  line-height: 0;
}
.team-item .team-img img {
  transition-duration: 0.2s;
  /* z-index: 1; */
  border-radius: 50%;
}
.team-img{
  border-radius: 50%;
}
.team-item {
  /* z-index: 2; */
  border-radius: 50%;
}
.team-overlay{
  border-radius: 50%;
  /* z-index: 2; */
}
.team-item:hover .team-img img {
  border-radius: 70%;

  transform: scale(1.3);
}
.white {
  color: white;
}

.bold {
  font-weight: bold;
}
@media only screen and (max-width: 500px) {

.nopad {
  margin: auto 0;
 /* padding: auto 0; */
 padding-left: 4px;
 padding-right: 4px;
}
.team-item .info-text {
  position: absolute;
  bottom: 10px;
  height: auto;
  line-height: 0.5em;
  left: 10px;
  padding: 7px 10px 0px;;
  background: #f3f4f3;
  text-align: left;
}
}
